{%extends "base.html" %}
{%block title%} SISkripsi {%endblock%}

{% load staticfiles %}

{% block judul %}
{{home}}
{% endblock %}

{%block content%}
<div style="text-align: center;">
	<div class="mui-col-md-4">
		<div class="mui-panel">
			<h2> Proposal </h2>
			<input type="checkbox"> Dosen Pembimbing
		</div>

	</div>

	<div class="mui-col-md-4">
		<div class="mui-panel">
			<h2> Skripsi </h2>

		</div>

	</div>

	<div class="mui-col-md-4">
		<div class="mui-panel">
			<h2> Yudisium </h2>
		</div>

	</div>
</div>

{%endblock%}
