{%extends "base.html" %}
{%block title%} Login {%endblock%}

{%block content %}
<h1>Form Login</h1>
  <div class="mdl-form">
   <form action = "#">
      <div class = "mdl-textfield mdl-js-textfield">
        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        	<input class = "mdl-textfield__input" type = "text" id = "username">
        	<label class = "mdl-textfield__label" for = "username">Username</label>
	    </div>
      </div>

      <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      	<input class = "mdl-textfield__input" type = "text" id = "text5">
      	<label class = "mdl-textfield__label" for = "text5">Password</label>
      </div>

      <div class="mdl-btn">
      	<input class ="mdl-button mdl-js-button" type="submit" name="masuk">
      </div>
   </form>
  </div>

{%endblock%}
