{% extends 'base.html' %}

{% block title %} Bimbingan Proposal {% endblock %}

{% block content%}
{% if error_proposal is None %}
    <table class="mui-table">
<form class="mui-form--inline" method="post">
	{% csrf_token %}
	<td>
		<div class="mui-textfield mui-textfield--float-label required">
			<input type="number" id="no" required min="1" max="16">
			<label>Pertemuan ke</label>
		</div>
	</td>

	<td>
		<div class="mui-textfield">
			{{ form.tanggal }}
			<label>Tanggal</label>
		</div>
	</td>

	<td>
		<div class="mui-textfield mui-textfield--float-label">
			{{ form.hasil }}
			<label>Hasil Bimbingan</label>
		</div>
	</td>
	<td>
		<button type="submit" class="mui-btn mui-btn--raised "><span class="mdi-plus-circle-outline">+</span></button>
	</td>
</form>
</table>
    {% if error_Bimbingan is None %}
         <table class="mui-table mui-table--bordered">
            <thead>
                <th> Bimbingan ke </th>
                <th> Tanggal Bimbingan</th>
                <th> Hasil Bimbingan</th>
            </thead>

            {% for c in hasil%}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> {{c.tanggal| date:"d M Y "}} </td>
                <td><a href=""> {{c.hasil | truncatechars:4}} </a></td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h1> {{ error_Bimbingan }} </h1>
    {% endif %}
{% else %}
    <h1 class="mui--text-danger">{{ error_proposal }} </h1>
{% endif %}


{% endblock %}
