{% extends 'base.html' %}

{% block judul%} {{c}} {%endblock%}
{% block content%}
<h2> Semangat terus proposal nya</h2>

<table class="mui-table">
<form class="mui-form--inline" action="{% url 'proposal:tambah' %}" method="post">
	{% csrf_token %}
	<td>
		<div class="mui-textfield mui-textfield--float-label required">
			<input type="number" id="no" required min="1" max="16">
			<label>Pertemuan ke</label>
		</div>
	</td>

	<td>
		<div class="mui-textfield">
			<input type="date" id="tanggal" name="tanggal" required>
			<label>Tanggal</label>
		</div>
	</td>

	<td>
		<div class="mui-textfield mui-textfield--float-label">
			<input type="text" id="hasil" name="hasil" required>
			<label>Hasil Bimbingan</label>
		</div>
	</td>
	<td>
		<button type="submit" class="mui-btn mui-btn--raised "><span class="mdi-plus-circle-outline">+</span></button>
	</td>
</form>
</table>

<table class="mui-table mui-table--bordered">
	<tr>{{error}}</tr>
	<thead>
		<th> Bimbingan ke </th>
		<th> Tanggal Bimbingan</th>
		<th> Hasil Bimbingan</th>
	</thead>

	{% for c in a%}
	<tr>
		<td> {{forloop.counter}} </td>
		<td> {{c.tanggal| date:"d M Y "}} </td>
		<td> {{c.hasil}} </td>
	</tr>
	{% endfor %}
</table>


{% endblock %}
