{%extends "base.html"%}
{%block title%} Proposal {%endblock%}

{% block judul %} {{judul}} {%endblock%}

{%block content%}

<div>
    <form class="mui-form" action="{% url 'proposal:edit'%}" method="POST">
        {% csrf_token %}
        <legend>Proposal Skripsi</legend>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" id="judul">
            <label>Judul</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <textarea id="ringkasan"></textarea>
            <label>Ringkasan</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" id="keywords">
            <label>Kata Kunci</label>
        </div>
        <div class="mui-select">
            <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
            <label>Dosen Pembimbing</label>
        </div>
        <button type="submit" class="mui-btn mui-btn--raised">Masukkan</button>
    </form>
</div>


{%endblock%}
